@use "../abstracts" as *;

.landing__access {
    padding: 5.5rem 4.5rem 7rem;
    color: $clr-white;
    background-color: $clr-desaturated-blue;

    @media (min-width: $desktop) {
        display: grid;
        grid-template-columns: 55% 45%;
        gap: 4rem;
        grid-template-areas:
           'text form'; 
        align-items: center;
        margin-top: 0rem;
        padding: 5.4rem 8.4rem 8.5rem;
    }
}

.access__text-container {
     @media (min-width: $desktop) {
         grid-area: text;
         margin-top: 5rem;
    }
 }

.access__title {
    font-family: $ff-headings;
    font-size: $fs-h2-access-mobile;
    font-weight: $fw-bold;
    text-align: center;

    @media (min-width: $desktop) {
        font-size: $fs-h2-access-desktop;
        text-align: left;
    }
}

.access__text {
    margin-top: 1.8rem;
    line-height: 1.5;
    text-align: center;

    @media (min-width: $desktop) {
        margin-top: 2.2rem;
        padding-right: 14rem;
        line-height: 1.35;
        text-align: left;
    }
}

.access__form-container {
    position: relative;
    margin-top: 2.3rem;
    padding: 0 2.1rem;

    @media (min-width: $desktop) {
        grid-area: form;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 4.2rem;
        padding: 0 7.5rem 0 1.5rem;
    }
}

.access__email {
    width: 100%;
    height: 3.4rem;
    padding-left: 0.8rem;
    border: 0.1rem solid $clr-desaturated-blue-border;
    border-radius: 0.2rem;

    @media (min-width: $desktop) {
        height: 5.2rem;
        padding-left: 2rem;
        border-radius: 0.5rem;
    }
}

.access__email:focus,
.access__email:active {
    outline: none;
    border: 0.1rem solid $clr-very-dark-blue;
}

.access__email::placeholder {
    
    color: $clr-light-gray;
    // vertical align 
    transform: scale(0.7);
    transform-origin: 0% 50%;
    
    @media (min-width: $desktop) {
        //font-size: $fs-placeholder-desktop;
    }
}

.access__submit {
    width: 100%;
    height: 3.2rem;
    margin-top: 0.7rem;
    font-family: $ff-headings;
    font-size: $fs-placeholder-access-mobile;
    font-weight: $fw-semiBold;
    color: $clr-white;
    background-color: $clr-bright-blue;
    border: 0.1rem solid $clr-bright-blue;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 0.5rem $bs;
    cursor: pointer;

    @media (min-width: $desktop) {
        width: 20rem;
        height: 4.8rem;
        margin-top: 0;
        font-size: $fs-access-button-desktop;
        border-radius: 0.3rem;
    }
}

.access__submit:hover,
.access__submit:focus {
    background-color: $clr-bright-blue-hover;
    border: 0.1rem solid $clr-bright-blue-hover;
}

.access__error {
    display: none;
    margin-top: 0.5rem;
    font-weight: $fw-bold;
    color: $clr-error;

    @media (min-width: $desktop) {
        position: absolute;
        top: 4.3rem;
        left: 0;
    }
}

.access__form-container.error .access__email {
    border: 0.1rem solid $clr-error;
}

.access__form-container.error .access__error {
    display: block;
}