@use '../abstracts' as *;

.landing__footer {
    padding: 6.5rem 4rem 4.7rem;
    font-size: $fs-contacts-mobile;
    color: $clr-white;
    background-color: $clr-very-dark-blue;

    @media (min-width: $desktop) {
        padding: 10.9rem 8.4rem 7.6rem;
    }
}

.footer__logo {
    width: 60%;
    max-width: 20rem;

    @media (min-width: $desktop) {
        width: 14%;
    }
}

// text container
.footer__text-container {
    margin-top: 3.5rem;

    @media (min-width: $desktop) {
        margin-top: 1.8rem;
        display: grid;
        grid-template-columns: 34.7% 21.3% 20.5% 23.5%;
    }
}

// phone & email
.footer__contact--phone,
.footer__contact--email {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.footer__contact--phone > img {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 0.1rem;
}

.footer__contact--email {
    margin-top: 1.8rem;
}

.footer__contact--email > img {
    width: 2rem;
    height: 1.6rem;
}

// footer links lists
.footer__links {
    margin-top: 5.7rem;

    @media (min-width: $desktop) {
        margin-top: 0;
    }

    & li {
        margin-top: 1.55rem;
    }

    & li:first-child {
        margin-top: 0;
    }
}

.footer__links:nth-child(2) {
    @media (min-width: $desktop) {
    }
}

.footer__links:nth-child(3) {
    margin-top: 4.9rem;

    @media (min-width: $desktop) {
        margin-top: 0;
    }
}

.footer__links a {
    color: $clr-white;

    &:hover,
    &:focus {
    color: $clr-bright-blue;
    }
}

// socials
.footer__socials {
    display: flex;
    gap: 1rem;
    margin-top: 5.2rem;

    @media (min-width: $desktop) {
        gap: 1.3rem;
        margin-top: 0rem;
    }
}

.footer__socials li {
    @include flex-center;
    
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    border: 0.1rem solid $clr-white;

    @media (min-width: $desktop) {
        width: 3.2rem;
        height: 3.2rem;
    }

    &:hover,
    &:focus {
        border: 1px solid $clr-bright-blue;

        & i {
            color: $clr-bright-blue;
        }
    }
}

.footer__socials i {
    font-size: $fs-normal-mobile;
    color: $clr-white;
}

