@use '../abstracts' as *;

body {
    @include flex-center;
    
    font-family: $ff-body;
    font-weight: $fw-regular;
    font-size: $fs-normal-mobile;
    color: $clr-very-dark-blue;

    @media (min-width: $desktop) {
        font-size: $fs-normal-desktop;
    }
}

.landing {
    width: 37.5rem;
    outline: 1px solid red;

    @media (min-width: $desktop) {
        width: 144rem;
    }
}