// primary
$clr-very-dark-blue: hsl(243, 87%, 12%);
$clr-desaturated-blue: hsl(238, 22%, 44%);

// accent
$clr-bright-blue: hsl(224, 93%, 58%);
$clr-bright-blue-hover: hsl(224, 93%, 70%);
$clr-moderate-cyan: hsl(170, 45%, 43%);

// neutral
$clr-light-grayish-blue: hsl(240, 75%, 98%);
$clr-light-gray: hsl(0, 0%, 75%);
$clr-gray-border: hsl(0, 1%, 65%);
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-error: hsl(347, 76%, 57%);