// primary
$clr-very-dark-blue: hsl(243, 87%, 12%);
$clr-dark-blue: hsl(243, 87%, 32%);
$clr-desaturated-blue: hsl(238, 22%, 44%);
$clr-desaturated-blue-border: hsl(239, 31%, 36%);

// accent
$clr-bright-blue: hsl(224, 93%, 58%);
$clr-bright-blue-hover: hsl(224, 93%, 70%);
$clr-moderate-cyan: hsl(170, 45%, 43%);
$clr-moderate-cyan-hover: hsl(168, 45%, 75%);

// neutral
$clr-light-grayish-blue: #f6f6fe;
$clr-light-gray: hsl(0, 0%, 75%);
$clr-gray-border: hsl(0, 1%, 65%);
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
$clr-error: hsl(347, 76%, 57%);

// box shadow
$bs: hsla(0, 0%, 0%, 0.2);
