// Headings, Call-to-actions, Header Navigation
$ff-headings: 'Raleway', sans-serif;
// body
$ff-body: 'Open Sans', sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-normal-mobile: 1.4rem;
$fs-normal-desktop: 1.8rem;

$fs-nav-mobile: 1.2rem;
$fs-nav-desktop: 1.6rem;

$fs-h1-mobile: 2.35rem;
$fs-h1-desktop: 4rem;

$fs-placeholder-mobile: 1.3rem;
$fs-placeholder-desktop: 1.5rem;